extends ../layout.pug
block content
  .container
    .row
      embed.col-12.col-md-7(src="", type="")
      .col-12.col-md-5
        dl
          dt 电影名字
          dd= movie.title
          dt 导演
          dd= movie.doctor
          dt 国家
          dd= movie.country
          dt 语言
          dd= movie.lang
          dt 上映年份
          dd= movie.year
          dt 简介
          dd= movie.summary
